*{
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    color: white;

}

body{
    background-image: url("resources/images/backgrounds/title-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;

    padding: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

#title-section{
    margin-top: 100px;
    border-bottom: 2px solid white;
    
    animation: titleEnter 1s ease 0s 1 normal forwards;
}
@keyframes titleEnter {
	0% {
		opacity: 0;
		transform: translateX(-250px);
        border-bottom: 2px solid transparent;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
        border-bottom: 2px solid white;

	}
}
#title-section:hover{
    background-color: rgb(0,0,0,0);
    /* TODO:
        - Add animation for different ways to contact me on side; */
}



#footer{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 200px 15% 0px 15%;
    padding-left: 0;
    border-left: 0;
    border-top: 2px solid white;
}


#footer:hover{
    background-color: rgb(0,0,0,0);
}
#contacts-list{
    padding: 0;
}

.section{
    
    margin:200px 20% 200px 20%;
    padding: 16px;
    border-left: 2px solid white;
    /* border-bottom: 2px solid white; */
}
.section:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.section:active{
    background-color: rgba(0, 0, 0, 0.3);
}

.project{
    display: block;
    margin: 10px;
    width: 300px;
    padding: 16px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;

}
.project:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.project:active{
    background-color: rgba(0, 0, 0, 0.3);
}
.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 1%;
}


.subtitle{
    font-size: 28px;
}
ul{
    list-style-type: none;
}
h1{
    font-size:52px;
}
h2{
    font-size: 36px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(0, 225, 255);
}